{% extends 'base.html' %}
{% load static %}

{% block title %}Account activation{% endblock %}

{% block main %}
    <div class="card mt-3">
        <div class="card-body d-flex flex-column align-items-center">
            <img src="{% static 'images/logo.png' %}" width="100" height="100" alt="logo-img">
            <h1 class="mt-3">Account validation</h1>
            <p class="text-center">
                Check your email address in order to sign in to the service. We've sent you a verification link.
                Click the button <b>Validate my account</b> in the email.
                By validating your email, you ensure that your account is secure and ready for use.
                If you don't see the email in your inbox, please check your spam folder.
                If you have any questions, feel free to <a href="#" class="link-primary">contact us</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block rest %}
<script>
    const header = document.querySelector('.main-header');
    header.style.display = "none";
</script>
{% endblock %}