{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block main %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {% include 'includes/errors.html' %}

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control"
            autocomplete="email" maxlength="254" required id="id_email"
            placeholder="">
            <label for="email">Enter Email</label>
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>

        <a href="{% url 'sign-up' %}">Create A New Account</a><br><br>
        <a href="{% url 'login' %}">Back To Login</a><br>
    </form>
{% endblock %}