{% extends 'base.html' %}

{% block title %}Create Space{% endblock %}

{% block main %}
    <form method="POST" action="{% url 'create_space' %}" class="form-group" id="app" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'errors.html' %}

        <div class="form-floating mb-3">
            {{ form.name }}
            <label for="name">Enter Name</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.description }}
            <label for="description">Enter Description</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.image }}
            <label for="image">Upload Image</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.tags }}
            <label for="tags">Enter Tags (comma-separated)</label>
        </div>
        <button type="submit" class="btn btn-secondary">Create Space</button>
    </form>
{% endblock %}

{% block rest %}
<style>
    .form-floating>.form-control {
        height: auto;
    }

    .form-group .btn {
        margin-top: 18px;
    }
</style>
{% endblock %}