{% extends 'base.html' %}
{% load static %}

{% block title %}Create Space{% endblock %}

{% block head %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
{% endblock %}

{% block main %}
    <form method="POST" action="{% url 'create_space' %}" class="form-group" id="app" enctype="multipart/form-data" ref="form" @submit.prevent>
        {% csrf_token %}
        {% include 'includes/errors.html' %}

        <div class="form-floating mb-3">
            {{ form.name }}
            <label for="name">Enter Name</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.description }}
            <div id="editor" class="form-control"></div>
        </div>

        <label for="image-field" class="px-3 py-2 gap-2 align-items-center mb-1 upload-image-label">
            <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 -960 960 960" width="21px" fill="#000000"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
            <span>Upload Image</span>
        </label>
        <div class="image-preview-container">
            <img id="image-preview" src="{% static 'images/default-banner.png' %}" alt="Image Preview">
        </div>

        <div class="d-none">
            {{ form.image }}
        </div>

        <p class="warning-message d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#808080"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
            &nbsp;Add at least 3 tags in order to create the space!
        </p>

        <div class="form-floating mb-3">
            {{ form.tags }}
            <div class="input-group mb-3 tags-container">
                <input type="text" class="form-control" placeholder="Enter tag/s (separate by comma)" v-model="newTag" @keyup.enter="addTag">
                <button type="button" class="btn btn-secondary" style="margin: 0" @click="addTag">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                </button>
            </div>

            <div class="mb-3">
                <span v-for="(tag, index) in tags" :key="index" class="badge bg-secondary me-2">
                    [[ tag ]]
                    <button type="button" class="btn-close btn-close-white" aria-label="Remove" @click="removeTag(index)"></button>
                </span>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" @click="submitForm">Create Space</button>
    </form>
{% endblock %}

{% block rest %}
<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            descriptionInput: '',
            newTag: '',
            tags: []
        },
        methods: {
            submitForm() {
                this.$refs.form.submit();
            },
            addTag() {
                if (this.newTag.trim() !== '') {
                    const tagsToAdd = this.newTag.split(",").map(tag => tag.trim()).filter(tag => tag !== '');
                    this.tags.push(...tagsToAdd);

                    this.newTag = '';
                    this.updateTagsInput();
                }
            },
            removeTag(index) {
                this.tags.splice(index, 1);
                this.updateTagsInput();
            },
            updateTagsInput() {
                document.getElementById('tags-input').value = this.tags.join(',');
            }
        },
        mounted() {
            document.getElementById('image-field').addEventListener('change', function(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                reader.onload = function(e) {
                    const imagePreview = document.getElementById('image-preview');
                    imagePreview.src = e.target.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                }
            });

            const toolbarOptions = [
                [{ 'header': [1, 2, 3, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'align': [] }],
                ['clean']
            ];

            const quill = new Quill('#editor', {
                theme: 'snow',
                placeholder: 'Enter Description',
                modules: {
                    toolbar: toolbarOptions
                }
            });

            quill.on('text-change', () => {
                this.descriptionInput = quill.root.innerHTML;
            });
        }
    });
</script>
<style>
    .form-floating>.form-control {
        height: auto;
    }

    .form-group .btn {
        margin-top: 18px;
    }

    .tags-container {
        margin: 8px 0 16px 0;
        width: 25em;
    }

    .badge {
        margin-bottom: 8px;
    }

    .warning-message {
        margin: 16px 0 8px 0;
        color: gray;
    }

    .upload-image-label {
        display: inline-flex;
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .image-preview-container {
        height: 200px;
        width: 25em;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        margin-bottom: 16px;
        overflow: hidden;
    }

    .image-preview-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    {# Quill #}
    .form-control.ql-container.ql-snow {
        padding-top: 7px;
    }

    .ql-container.ql-snow {
        border: 0;
        padding: 0;
        height: 200px;
    }

    .ql-editor {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        min-height: calc(2.25rem + 2px);
    }

    .ql-editor.ql-blank::before {
        font-style: normal;
        color: #212529;
    }
</style>
{% endblock %}