{% extends 'base.html' %}
{% load static %}

{% block title %}List spaces{% endblock %}

{% block main %}
    {% include 'includes/message.html' %}
    <div class="container" id="app">
        <div class="alert alert-secondary">
            <div class="btn-group" role="group" aria-label="Filter options">
                <a href="{% url 'list_spaces' %}?order=" class="btn btn-outline-primary {% if not request.GET.order %}active{% endif %}">
                    <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m80-280 150-400h86l150 400h-82l-34-96H196l-32 96H80Zm140-164h104l-48-150h-6l-50 150Zm328 164v-76l202-252H556v-72h282v76L638-352h202v72H548ZM360-760l120-120 120 120H360ZM480-80 360-200h240L480-80Z"/></svg>
                    Alphabetically
                </a>
                <a href="{% url 'list_spaces' %}?order=newest" class="btn btn-outline-primary {% if request.GET.order == 'newest' %}active{% endif %}">
                    <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/></svg>
                    Newest
                </a>
                <a href="{% url 'list_spaces' %}?order=oldest" class="btn btn-outline-primary {% if request.GET.order == 'oldest' %}active{% endif %}">
                    <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840q82 0 155.5 35T760-706v-94h80v240H600v-80h110q-41-56-101-88t-129-32q-117 0-198.5 81.5T200-480q0 117 81.5 198.5T480-200q105 0 183.5-68T756-440h82q-15 137-117.5 228.5T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/></svg>
                    Oldest
                </a>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search spaces" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="searchInput">
        </div>

        <div v-if="searchInput" class="alert alert-secondary" role="alert">
            <p>Results for: <i>[[ searchInput ]]</i></p>
            <div class="d-flex justify-content-center">
                <div v-if="loading" class="spinner-border mt-2 mb-2" role="status"></div>
            </div>

            <div class="list-group">
                <div v-for="space in searchResult" :key="space.id" @click="navigateToSpace(space.id)" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
                            [[ space.name ]]
                        </h5>
                        <small class="text-muted">[[ space.followers_count ]] followers</small>
                    </div>
                    <p class="mb-1">[[ truncatedDescription(space) ]]</p>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#5f6368"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            &nbsp[[ space.user.username ]]
                        </span>
                        <a :href="generateCreatePostURL(space.id)" class="btn btn-primary btn-sm">Create post here</a>
                    </div>
                </div>
            </div>

            <p v-if="searchResult.length == 0">No results found.</p>
        </div>

        <div v-else class="row">
            {% for space in space_list %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    {% if space.image %}
                    <img class="card-img-top" src="{{ space.image.url }}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/default-banner.png' %}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body" onclick="window.location.href='{% url 'space_details' pk=space.pk %}'">
                        <h5 class="card-title">{{ space.name }}</h5>
                        <p class="card-text">{{ space.description|truncatechars:160 }}</p>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <small class="text-muted">{{ space.followers_count }} followers</small>
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="followUnfollowSpace({{ space.pk }}, $event)">{% if space.pk in followed_spaces %}unfollow{% else %}follow{% endif %}</button>
                    </div>
                    <div class="card-body">
                        <a :href="generateCreatePostURL({{ space.pk }})" class="btn btn-primary btn-sm">Create post here</a>
                    </div>
                    <div class="card-footer">
                        <small class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 -960 960 960" width="21px" fill="#6c757d"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            &nbsp{{ space.user.username }}
                        </small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created {{ space.created_at }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
            <div class="pagination justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'list_spaces' %}?page={{ page_obj.previous_page_number }}&order={{ request.GET.order }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'list_spaces' %}?page={{ page_obj.next_page_number }}&order={{ request.GET.order }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    {% include 'includes/js/vue-app-message.js' %}

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            searchInput: null,
            searchResult: [],
            loading: false,
        },
        methods: {
            generateCreatePostURL(spaceId) {
                return `{% url 'create_post' %}?space_id=${spaceId}&name={{ name|default_if_none:"" }}&content={{ content|default_if_none:"" }}`;
            },
            navigateToSpace(spaceId) {
                window.location.href = `/space/${spaceId}/`;
            },
            truncatedDescription(space) {
                const truncateValue = 120;

                if (space.description && space.description.length > truncateValue) {
                    return space.description.substring(0, truncateValue) + '...';
                }
                return space.description;
            },
            fetchSearchResult(searchInput) {
                this.loading = true;
                axios
                .get(`{% url 'get_all_spaces'%}?search=${searchInput}`)
                .then(response => {
                    this.searchResult = response.data.results;
                    this.loading = false;
                })
                .catch(error => {
                    console.error(error);
                    this.loading = false;
                });
            },
            followUnfollowSpace(spaceId, event) {
                const btn = event.target;

                if (btn.textContent === "follow") {
                    axios
                    .post(`/api/space/follow/${spaceId}/`)
                    .then(response => {
                        messageApp.triggerNotification(response.data.message);
                        btn.textContent = "unfollow"
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else if (btn.textContent === "unfollow") {
                    axios
                    .delete(`/api/space/unfollow/${spaceId}/`)
                    .then(response => {
                        messageApp.triggerNotification(response.data.message);
                        btn.textContent = "follow"
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            }
        },
        watch: {
            searchInput(newValue, oldValue) {
                if (newValue) {
                    this.fetchSearchResult(newValue);
                } else {
                    this.searchResult = [];
                    this.loading = false;
                }
            }
        },
        mounted() {
            if (this.searchInput) {
                this.fetchSearchResult(this.searchInput);
            }
        }
    });
</script>
<style>
    {% include 'includes/css/message.css' %}

    .input-group-text {
        border-radius: .25rem 0 0 .25rem;
    }

    .alert-secondary {
        background-color: rgba(0,0,0,.03);
    }

    .card-body:nth-child(2):hover {
        cursor: pointer;
    }

    .card img {
        height: 200px;
        object-fit: cover;
    }

    .btn-group .btn .filter-icon {
        transition: fill 0.3s;
    }

    .btn-group .btn:hover .filter-icon,
    .btn-group .btn.active .filter-icon {
        fill: #FFFFFF;
    }

    .btn-group .btn .filter-icon {
        fill: #0d6efd;
    }
</style>
{% endblock %}