{% extends 'base.html' %}
{% load static %}

{% block title %}List spaces{% endblock %}

{% block main %}
    <div class="container" id="app">
        <h1>Response is [[ this.response ]]</h1>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search spaces" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="searchInput">
        </div>

        <div v-if="searchInput" class="alert alert-secondary" role="alert">
            <p>Results for: <i>[[ searchInput ]]</i></p>
            <div class="loading-container">
                <div v-if="loading" class="spinner-border" role="status"></div>
            </div>

            <div class="list-group">
                <div v-for="space in searchResult" :key="space.id" @click="navigateToSpace(space.id)" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">[[ space.name ]]</h5>
                        <small class="text-muted">[[ space.followers_count ]] followers</small>
                    </div>
                    <p class="mb-1">[[ space.description ]]</p>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            &nbsp[[ space.user.username ]]
                        </span>
                        <a :href="generateCreatePostURL(space.id)" class="btn btn-primary btn-sm">Create post here</a>
                    </div>
                </div>
            </div>

            <p v-if="searchResult.length == 0">No results found.</p>
        </div>

        <div v-else class="row">
            {% for space in space_list %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if space.image %}
                    <img class="card-img-top" src="{{ space.image.url }}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/default-banner.png' %}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body" onclick="window.location.href='{% url 'space_details' pk=space.pk %}'">
                        <h5 class="card-title">{{ space.name }}</h5>
                        <p class="card-text">{{ space.description }}</p>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <small class="text-muted">{{ space.followers_count }} followers</small>
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="followUnfollowSpace({{ space.pk }}, $event)">{% if space.pk in followed_spaces %}unfollow{% else %}follow{% endif %}</button>
                    </div>
                    <div class="card-body">
                        <a :href="generateCreatePostURL({{ space.pk }})" class="btn btn-primary btn-sm">Create post here</a>
                    </div>
                    <div class="card-footer">
                        <small class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6c757d"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            &nbsp{{ space.user.username }}
                        </small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created {{ space.created_at }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
            <div class="pagination justify-content-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'list_spaces' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'list_spaces' %}?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            searchInput: null,
            searchResult: [],
            loading: false,
            response: null
        },
        methods: {
            generateCreatePostURL(spaceId) {
                return `{% url 'create_post' %}?space_id=${spaceId}&name={{ name|default_if_none:"" }}&content={{ content|default_if_none:"" }}`;
            },
            navigateToSpace(spaceId) {
                window.location.href = `/space/${spaceId}/`;
            },
            fetchSearchResult(searchInput) {
                this.loading = true;
                axios
                .get(`{% url 'get_all_spaces'%}?search=${searchInput}`)
                .then(response => {
                    this.searchResult = response.data.results;
                    this.loading = false;
                })
                .catch(error => {
                    console.error(error);
                    this.loading = false;
                });
            },
            followUnfollowSpace(spaceId, event) {
                const btn = event.target;

                if (btn.textContent === "follow") {
                    axios.
                    post(`/api/space/follow/${spaceId}/`)
                    .then(response => {
                        this.response = response.data.message;
                        btn.textContent = "unfollow"
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else if (btn.textContent === "unfollow") {
                    axios.
                    delete(`/api/space/unfollow/${spaceId}/`)
                    .then(response => {
                        this.response = response.data.message;
                        btn.textContent = "follow"
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            }
        },
        watch: {
            searchInput(newValue, oldValue) {
                if (newValue) {
                    this.fetchSearchResult(newValue);
                } else {
                    this.searchResult = [];
                    this.loading = false;
                }
            }
        },
        mounted() {
            if (this.searchInput) {
                this.fetchSearchResult(this.searchInput);
            }
        }
    });
</script>
<style>
    .input-group-text {
        border-radius: .25rem 0 0 .25rem;
    }

    .loading-container {
        height: 50px;
        display: flex;
        align-items: center;
    }

    .alert-secondary {
        background-color: rgba(0,0,0,.03);
    }

    .card-body:nth-child(2):hover {
        cursor: pointer;
    }

    .card img {
        height: 200px;
        object-fit: cover;
    }
</style>
{% endblock %}