{% extends 'base.html' %}

{% block main %}
    <div class="card text-center" id="card-app">
        <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
            {{ space.name }}
        </div>
        <div class="card-header d-flex justify-content-between align-items-center py-2 px-3">
            <span>{{ space.posts_count }} posts total</span>
            <span>[[ this.followers ]] followers</span>
            <button type="button" class="btn btn-sm btn-outline-primary" @click="followUnfollowSpace({{ space.pk }}, $event)">{% if is_following %}unfollow{% else %}follow{% endif %}</button>
        </div>
        <div class="card-body">
            <p class="card-text">{{ space.description }}</p>
            <a class="btn btn-primary" href="{% url 'create_post' %}?space_id={{ space.pk }}">Create post here</a>
        </div>
        <div class="card-footer text-muted">
            Created by <b>{{ space.user.username }}</b> on <b>{{ space.created_at }}</b>
            {% if not space.created_at == space.updated_at %}
                (Last updated on {{ space.updated_at }})
            {% endif %}
        </div>
    </div>

    <div id="app" class="mt-4">
        <div v-for="post in this.posts" class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">[[ post.name ]]</h5>
                <h6 class="card-subtitle text-muted">by [[ post.user.username ]]</h6>
            </div>
            <div class="card-body">
                <p class="card-text">[[ post.content ]]</p>
                <p class="card-text"><small class="text-muted">Visibility: [[ post.visibility ]]</small></p>
                <p class="card-text"><small class="text-muted">Views: [[ post.views ]]</small></p>
            </div>
            <div class="card-footer text-muted">
                Created on [[ post.created_at ]]
                <span v-if="post.created_at !== post.updated_at">(Last updated on [[ post.updated_at ]])</span>
            </div>
            <div class="card-footer">
                <div class="row">
                    <a class="col d-flex justify-content-center align-items-center" data-bs-toggle="collapse" :href="'#collapseExample' + post.id" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/></svg>
                    </a>
                    <div class="col reactions d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M360-240h220q17 0 31.5-8.5T632-272l84-196q2-5 3-10t1-10v-32q0-17-11.5-28.5T680-560H496l24-136q2-10-1-19t-10-16l-29-29-184 200q-8 8-12 18t-4 22v200q0 33 23.5 56.5T360-240ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"/></svg>
                    </div>
                </div>
                <div class="collapse" :id="'collapseExample' + post.id">
                    <hr class="hr">
                    <textarea placeholder="Add comment..." class="form-control comment-textarea" v-model="commentInput"></textarea>
                    <button class="btn btn-primary btn-sm" @click="createComment(post.id)">Publish</button>
                </div>
            </div>
        </div>
        <div class="loading-container d-flex justify-content-center align-items-center">
            <div v-if="loading" class="spinner-border" role="status"></div>
        </div>
    </div>
{% endblock %}

{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#card-app',
        data: {
            followers: Number({{ space.followers_count }}),
        },
        methods: {
            followUnfollowSpace(spaceId, event) {
                const btn = event.target;

                if (btn.textContent === "follow") {
                    axios.
                    post(`/api/space/follow/${spaceId}/`)
                    .then(() => {
                        btn.textContent = "unfollow";
                        this.followers += 1;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else if (btn.textContent === "unfollow") {
                    axios.
                    delete(`/api/space/unfollow/${spaceId}/`)
                    .then(() => {
                        btn.textContent = "follow";
                        this.followers -= 1;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            }
        }
    });

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            page: 1,
            loading: false,
            noMorePosts: false,
            posts: [],

            commentInput: null,
        },
        methods: {
            handleScroll() {
                if (!this.noMorePosts && (window.innerHeight + window.scrollY) >= document.body.offsetHeight - 10) {
                    this.getMorePosts();
                }
            },
            getMorePosts() {
                this.loading = true
                axios.
                get(`{% url 'get_space_posts' pk=space.pk %}?page=${this.page}`)
                .then((response) => {
                    this.posts = this.posts.concat(response.data.results);
                    this.page += 1;
                    this.loading = false
                })
                .catch(() => {
                    this.noMorePosts = true;
                    this.loading = false
                });
            },
            createComment(postId) {
                axios.
                post(`/api/comment/create/`, {
                    user: {{ request.user.pk }},
                    post: postId,
                    content: this.commentInput,
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.error(error);
                });
            },
            listComments(postId) {
                axios.
                get(`/api/comment/${postId}/`)
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.error(error);
                });
            }
        },
        mounted() {
            this.getMorePosts();
            window.addEventListener('scroll', this.handleScroll);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        },
    });
</script>
<style>
    .col.reactions {
        gap: 5px;
    }

    .form-control.comment-textarea {
        height: 100px;
    }
</style>
{% endblock %}