{% extends 'base.html' %}

{% block main %}
    <div class="card text-center" id="card-app">
        <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
            {{ space.name }}
        </div>
        <div class="card-header d-flex justify-content-between align-items-center py-2 px-3">
            <span>{{ space.posts_count }} posts total</span>
            <span>[[ this.followers ]] followers</span>
            <button type="button" class="btn btn-sm btn-outline-primary" @click="followUnfollowSpace({{ space.pk }}, $event)">{% if is_following %}unfollow{% else %}follow{% endif %}</button>
        </div>
        <div class="card-body">
            <p class="card-text">{{ space.description }}</p>
            <a class="btn btn-primary" href="{% url 'create_post' %}?space_id={{ space.pk }}">Create post here</a>
        </div>
        <div class="card-footer text-muted">
            Created by <b>{{ space.user.username }}</b> on <b>{{ space.created_at }}</b>
            {% if not space.created_at == space.updated_at %}
                (Last updated on {{ space.updated_at }})
            {% endif %}
        </div>
    </div>

    <div id="app" class="mt-4">
        <div v-for="post in this.posts" class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">[[ post.name ]]</h5>
                <h6 class="card-subtitle text-muted">by [[ post.user.username ]]</h6>
            </div>
            <div class="card-body">
                <p class="card-text">[[ post.content ]]</p>
                <p class="card-text"><small class="text-muted">Visibility: [[ post.visibility ]]</small></p>
                <p class="card-text"><small class="text-muted">Views: [[ post.views ]]</small></p>
            </div>
            <div class="card-footer text-muted">
                Created on [[ post.created_at ]]
                <span v-if="post.created_at !== post.updated_at">(Last updated on [[ post.updated_at ]])</span>
            </div>
            <div class="card-footer">
                <div class="row">
                    <a class="col d-flex justify-content-center align-items-center" data-bs-toggle="collapse" @click="listComments(post.id)" :href="'#collapse' + post.id" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/></svg>
                    </a>
                    <div class="col reactions d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M360-240h220q17 0 31.5-8.5T632-272l84-196q2-5 3-10t1-10v-32q0-17-11.5-28.5T680-560H496l24-136q2-10-1-19t-10-16l-29-29-184 200q-8 8-12 18t-4 22v200q0 33 23.5 56.5T360-240ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"/></svg>
                    </div>
                </div>
                <div class="collapse" :id="'collapse' + post.id">
                    <textarea placeholder="Add comment..." class="form-control comment-textarea" :id="'commentInput' + post.id"></textarea>
                    <button class="btn btn-primary btn-sm btn-comment" @click="createComment(post.id)" :id="'commentButton' + post.id">Publish</button>
                    <comment v-if="comments[post.id]" :comments="comments[post.id]"></comment>
                </div>
            </div>
        </div>
        <div class="loading-container d-flex justify-content-center align-items-center">
            <div v-if="loading" class="spinner-border" role="status"></div>
        </div>
    </div>
{% endblock %}

{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    Vue.component('comment', {
        props: ['comments'],
        delimiters: ['[[', ']]'],
        methods: {
            showCommentForm(commentId) {
                document.getElementById(`inputContainer${commentId}`).style.display = "block";
            },
            hideCommentForm(commentId) {
                document.getElementById(`inputContainer${commentId}`).style.display = "none";
            },
            toggleReplies(comment) {
                comment.showReplies = !comment.showReplies;
            },
            createNestedComment(comment, event) {
                const publishButton = event.target;
                const parentElement = publishButton.parentNode;
                const commentInput = parentElement.querySelector('textarea');

                if (!commentInput.value) {
                    return;
                }

                publishButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

                axios.
                post(`{% url 'create_comment' %}`, {
                    post: comment.post,
                    content: commentInput.value,
                    parent_comment: comment.id
                })
                .then(() => {
                    postsApp.listComments(comment.post);
                    this.hideCommentForm(comment.id);
                    commentInput.value = "";
                    publishButton.innerHTML = "Publish";
                })
                .catch((error) => {
                    console.error(error);
                    publishButton.innerHTML = "Publish";
                });
            }
        },
        template: `
            <div class="card">
                <div class="comment card-body" v-for="comment in comments" :key="comment.id">
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="card-subtitle mb-2 text-muted d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6c757d"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            [[ comment.user.username ]] - [[ comment.created_at ]]
                        </small>
                        <button v-if="comment.replies.length" class="btn btn-primary btn-sm" @click="toggleReplies(comment)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF">
                                <path v-if="comment.showReplies" d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                                <path v-else d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"/>
                            </svg>
                            [[ comment.replies.length ]] reply/ies
                        </button>
                    </div>
                    <p class="card-text comment">[[ comment.content ]]</p>
                    <div class="d-flex align-items-center show-input-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#5f6368"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
                        &nbsp;&nbsp;<button type="button" class="btn btn-outline-primary btn-sm" @click="showCommentForm(comment.id)">Reply</button>
                    </div>
                    <div class="input-container" :id="'inputContainer' + comment.id">
                        <div class="d-flex align-items-start">
                            <textarea class="form-control" placeholder="Add reply..."></textarea>
                            <button class="btn btn-secondary btn-sm" @click="hideCommentForm(comment.id)">Cancel</button>
                            <button class="btn btn-primary btn-sm" @click="createNestedComment(comment, $event)">Publish</button>
                        </div>
                    </div>
                    <div v-if="comment.showReplies && comment.replies.length" id="replies">
                        <comment :comments="comment.replies" class="ml-4"></comment>
                    </div>
                </div>
            </div>
        `,
    });

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#card-app',
        data: {
            followers: Number({{ space.followers_count }}),
        },
        methods: {
            followUnfollowSpace(spaceId, event) {
                const btn = event.target;

                if (btn.textContent === "follow") {
                    axios.
                    post(`/api/space/follow/${spaceId}/`)
                    .then(() => {
                        btn.textContent = "unfollow";
                        this.followers += 1;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else if (btn.textContent === "unfollow") {
                    axios.
                    delete(`/api/space/unfollow/${spaceId}/`)
                    .then(() => {
                        btn.textContent = "follow";
                        this.followers -= 1;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            }
        }
    });

    const postsApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            page: 1,
            loading: false,
            noMorePosts: false,
            posts: [],
            comments: {},
        },
        methods: {
            organizeComments(commentsData) {
                const commentsMap = {};
                const nestedComments = [];

                commentsData.forEach(comment => {
                    comment.showReplies = true;
                    comment.replies = [];
                    commentsMap[comment.id] = comment;
                });

                commentsData.forEach(comment => {
                    if (comment.parent_comment !== null) {
                        commentsMap[comment.parent_comment].replies.push(comment);
                    } else {
                        nestedComments.push(comment);
                    }
                });

                return nestedComments;
            },
            handleScroll() {
                if (!this.noMorePosts && (window.innerHeight + window.scrollY) >= document.body.offsetHeight - 10) {
                    this.getMorePosts();
                }
            },
            getMorePosts() {
                this.loading = true
                axios.
                get(`{% url 'get_space_posts' pk=space.pk %}?page=${this.page}`)
                .then((response) => {
                    this.posts = this.posts.concat(response.data.results);
                    this.page += 1;
                    this.loading = false
                })
                .catch(() => {
                    this.noMorePosts = true;
                    this.loading = false
                });
            },
            createComment(postId) {
                const commentInput = document.getElementById(`commentInput${postId}`);
                const commentButton = document.getElementById(`commentButton${postId}`);

                if (!commentInput.value) {
                    return;
                }

                commentButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <span class="sr-only">Loading...</span>';

                axios.
                post(`{% url 'create_comment' %}`, {
                    post: postId,
                    content: commentInput.value,
                })
                .then(() => {
                    this.listComments(postId);
                    commentInput.value = "";
                    commentButton.innerHTML = "Publish";
                })
                .catch((error) => {
                    console.error(error);
                    commentButton.innerHTML = "Publish";
                });
            },
            listComments(postId) {
                axios.
                get(`/api/comment/${postId}/`)
                .then((response) => {
                    this.$set(this.comments, postId, this.organizeComments(response.data));
                })
                .catch((error) => {
                    console.error(error);
                });
            }
        },
        mounted() {
            this.getMorePosts();
            window.addEventListener('scroll', this.handleScroll);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        },
    });
</script>
<style>
    .col.reactions {
        gap: 5px;
    }

    .form-control.comment-textarea {
        margin-top: 20px;
        height: 100px;
    }

    .btn-comment {
        margin: 10px 0;
    }

    .show-input-container {
        padding-bottom: 7px;
    }

    .input-container {
        display: none;
        padding: 16px 0 20px 20px;
    }

    .input-container .d-flex {
        gap: 5px;
    }

    .card-text.comment {
        margin: 5px;
    }

    .comment.card-body {
        border-left: 1px solid red;
    }
</style>
{% endblock %}