{% extends 'base.html' %}

{% block title %}{{ space.name }} space{% endblock %}

{% block main %}
    <div class="card" id="card-app">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center flex-grow-1 overflow-hidden">
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
                <h5 class="mb-0 ms-1">{{ space.name }}</h5>
            </div>
            {% if space.verified %}
            <svg class="ms-auto" xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z"/></svg>
            {% endif %}
        </div>
        <div class="card-header d-flex justify-content-between align-items-center py-2 px-3">
            <span>{{ space.posts_count }} post/s</span>
            <span>[[ this.followers ]] followers</span>
            <button type="button" class="btn btn-sm btn-outline-primary" @click="followUnfollowSpace({{ space.pk }}, $event)">{% if is_following %}unfollow{% else %}follow{% endif %}</button>
        </div>
        <div class="card-body">
            <div class="ql-zone pb-4">{{ space.description|safe }}</div>
            {% for tag in tags %}
                <span class="badge me-2 bg-primary">
                    <span class="d-flex gap-1 align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M840-480 666-234q-11 16-28.5 25t-37.5 9H200q-33 0-56.5-23.5T120-280v-400q0-33 23.5-56.5T200-760h400q20 0 37.5 9t28.5 25l174 246Zm-98 0L600-680H200v400h400l142-200Zm-542 0v200-400 200Z" /></svg>
                        <span>{{ tag.name }}</span>
                    </span>
                </span>
            {% endfor %}
        </div>
        <div class="card-footer text-center text-muted">
            Created by <b>{{ space.user.username }}</b> on <b>{{ space.created_at }}</b>
            {% if not space.created_at == space.updated_at %}
                (Last updated on {{ space.updated_at }})
            {% endif %}
        </div>
    </div>

    <button class="btn btn-primary w-100 py-2 mt-4" onclick="window.location.href='{% url 'create_post' %}?space_id={{ space.pk }}'">
        <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#FFFFFF"><path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
    </button>

    {% include 'includes/posts.html' %}
    {% include 'includes/message.html' %}
{% endblock %}

{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    const postsURL = '{% url 'get_space_posts' pk=space.pk %}';
    {% include 'includes/js/vue-app-message.js' %}
    {% include 'includes/js/vue-component-comment.js' %}
    {% include 'includes/js/vue-app-posts.js' %}

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#card-app',
        data: {
            followers: Number({{ space.followers_count }}),
        },
        methods: {
            followUnfollowSpace(spaceId, event) {
                const btn = event.target;

                if (btn.textContent === "follow") {
                    axios
                    .post(`/api/space/follow/${spaceId}/`)
                    .then((response) => {
                        btn.textContent = "unfollow";
                        this.followers += 1;
                        messageApp.triggerNotification(response.data.message);
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else if (btn.textContent === "unfollow") {
                    axios
                    .delete(`/api/space/unfollow/${spaceId}/`)
                    .then((response) => {
                        btn.textContent = "follow";
                        this.followers -= 1;
                        messageApp.triggerNotification(response.data.message);
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }
            }
        }
    });
</script>
<style>
    {% include 'includes/css/posts.css' %}
    {% include 'includes/css/message.css' %}

    .badge {
        margin-bottom: 8px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .create-post-button {
        margin-top: 24px;
        padding: 10px 0;
    }
</style>
{% endblock %}