@media only screen and (max-width: 600px) {
    #bootstrap-override .image-preview-container,
    #bootstrap-override .tags-space-container .card
    {
        width: 100%;
    }

    .sticky-header li:nth-child(1) span:nth-child(2) {
        display: none;
    }

    .user-date-container {
        flex-direction: column;
    }

    .tags-space-container .card-footer.row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .main-nav .authenticated-container,
    .main-nav .btn-group
    {
        display: none;
    }

    #bootstrap-override .responsive-dropdown {
        display: block;
    }
}