@media only screen and (max-width: 600px) {
    #bootstrap-override .image-preview-container,
    #bootstrap-override .tags-space-container .card {
        width: 100%;
    }

    .rating-container {
        display: none;
    }

    .user-date-container {
        flex-direction: column;
    }

    .spaces-filter-container .btn {
        font-size: 0.8rem;
        padding: 7px 10px;
    }

    .spaces-filter-container .btn svg {
        display: none;
    }

    #bootstrap-override .modal-custom .modal-dialog {
        max-width: 100%;
    }

    #bootstrap-override .comments-container {
        height: 82vh;
    }
}

@media only screen and (max-width: 1000px) {
    .main-nav .authenticated-container,
    .main-nav .btn-group
    {
        display: none;
    }

    #bootstrap-override .responsive-dropdown {
        display: block;
    }

    .posts-filter-container {
        flex-direction: column;
    }

    .posts-filter-container .posts-filter-date-container {
        margin-top: 10px;
    }

    #bootstrap-override .spaces-filter-container {
        flex-direction: column;
    }
}