.loading-container {
    height: 55px;
}

.half-opacity {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
    user-select: none;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    max-height: 100% !important;
    background-color: white;
}

/* POSTS TEMPLATE */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.sticky-header .list-group-item {
    border-left: none;
    border-right: none;
}

.sticky-header .list-group-item:first-child {
    border-top: none;
}

.sticky-header .list-group-item:last-child {
    border-bottom: none;
}

.col.reactions {
    gap: 8px;
}

.reaction-icon {
    position: relative;
    display: inline-block;
}

.reaction-icon::after {
    content: attr(data-reaction-name);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.reaction-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.reaction-icon:hover svg {
    fill: #0d6efd;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.comments-container {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px 16px;
}

.comments-container::-webkit-scrollbar {
    width: 8px;
}

.comments-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.comments-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.comments-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-control.comment-textarea {
    overflow: hidden;
    resize: none;
}

.form-control.comment-textarea:focus {
    box-shadow: none;
    outline: none;
}

/* COMMENT COMPONENT */
.comments-container .card {
    border: 0;
}

.likes-reply-container {
    padding-bottom: 7px;
    gap: 6px;
}

.like-button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.like-button:hover {
    background: rgba(211, 211, 211, 0.5);
}

.input-container {
    display: none;
    padding: 16px 0 20px 20px;
    border-left: 1px solid red;
}

.input-container .d-flex {
    gap: 5px;
}

.card-text.comment {
    margin: 5px;
}

.reply-link {
    cursor: pointer;
    text-decoration: none;
}

.reply-link:hover {
    text-decoration: underline;
}

.comment.card-body {
    border-left: 1px solid red;
}