.loading-container {
    height: 55px;
}

.half-opacity {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
    user-select: none;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* POST FILTERS */
.posts-filter-buttons-container span {
    cursor: pointer;
    font-size: 1rem;
}

/* POSTS TEMPLATE */
.post-container {
    max-width: 777px;
    margin-left: auto;
    margin-right: auto;
}

.space-container-wrapper {
    padding: 0 16px 16px;
}

.space-container {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.rating-container {
    cursor: default;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.modal-custom .modal-dialog {
    max-width: 80%;
}

.col.reactions {
    gap: 8px;
}

.reaction-icon {
    position: relative;
    display: inline-block;
}

.reaction-icon::after {
    content: attr(data-reaction-name);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.reaction-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.reaction-icon:hover svg {
    fill: #0d6efd;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.comments-container {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px 16px;
}

.comments-container::-webkit-scrollbar {
    width: 8px;
}

.comments-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.comments-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.comments-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-control.comment-textarea {
    overflow: hidden;
    resize: none;
}

.form-control.comment-textarea:focus {
    box-shadow: none;
    outline: none;
}

/* COMMENT COMPONENT */
.comments-container .card {
    border: 0;
}

.likes-reply-container {
    padding-bottom: 7px;
    gap: 6px;
}

.answer-button {
    border: 0;
    background: transparent;
    border-left: 1px solid red;
    border-top: 1px solid red;
    border-top-left-radius: 10px;
}

.like-button {
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.like-button:hover {
    background: rgba(211, 211, 211, 0.5);
}

.comment-options {
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.comment-options:hover {
    background: rgba(211, 211, 211, 0.5);
}

.input-container {
    display: none;
    padding: 16px 0 20px 20px;
    border-left: 1px solid red;
}

.card-text.comment {
    margin: 5px;
}

.reply-link {
    cursor: pointer;
    text-decoration: none;
}

.reply-link:hover {
    text-decoration: underline;
}

.comment.card-body {
    border-left: 1px solid red;
}