{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block main %}
    {% for comment in comments %}
        <h1>Коментар от {{ comment.post.name }}</h1>
        <h3>{{ comment.content }}</h3>
        <a href="{% url 'post_details' comment.post.slug %}?comment_link={{ comment.pk }}">Comment link</a>
    {% endfor %}
    <hr>
    {% for reply in replies %}
        <h1>Отговор от {{ reply.post.name }}</h1>
        <h3>{{ reply.content }}</h3>
        <a href="{% url 'post_details' reply.post.slug %}?comment_link={{ reply.pk }}">Reply link</a>
    {% endfor %}
{% endblock %}