{% extends "base.html" %}

{% block main %}
    <h1>Потвърди изтриване</h1>
    <p>Сигурни ли сте че искате да изтриете този акаунт? Това действие не може да бъде отменено.</p>
    <form method="POST">
        {% csrf_token %}
        {% include 'includes/errors.html' %}

        <div class="form-group">
            <label for="password">Въведете паролата си, за да потвърдите:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-danger">Изтрий акаунта ми</button>
    </form>
    <a href="{% url 'user_edit' %}" class="btn btn-secondary">Cancel</a>
{% endblock %}
