{% extends 'base.html' %}

{% block title %}{{ user.username }} Профил{% endblock %}

{% block main %}
    <div id="app">
        {% if not is_owner %}
            <button type="button" class="btn btn-outline-primary mb-2" @click="followUnfollowUser"><span v-if="followed">Отследвай</span><span v-else>Следвай</span></button>
        {% endif %}

        <div class="card mb-4 cursor-pointer on-hover-border" onclick="window.location.href='{% url 'user_ffs' user.profile.slug %}'">
            <div class="card-body">
                <h2 class="fw-light">Последователи (го следват): <b>[[ followers ]]</b></h2>
                <hr>
                <h2 class="fw-light">Последвани (следва): <b>[[ following ]]</b></h2>
            </div>
        </div>

        {% if denied_message %}
            <div class="d-flex align-items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="#000000"><path d="M480-504.62q-49.5 0-84.75-35.25T360-624.62q0-49.5 35.25-84.75T480-744.62q49.5 0 84.75 35.25T600-624.62q0 49.5-35.25 84.75T480-504.62ZM200-215.38v-65.85q0-24.77 14.42-46.35 14.43-21.57 38.81-33.5 56.62-27.15 113.31-40.73 56.69-13.57 113.46-13.57 56.77 0 113.46 13.57 56.69 13.58 113.31 40.73 24.38 11.93 38.81 33.5Q760-306 760-281.23v65.85H200Zm40-40h480v-25.85q0-13.31-8.58-25-8.57-11.69-23.73-19.77-49.38-23.92-101.83-36.65-52.45-12.73-105.86-12.73t-105.86 12.73Q321.69-349.92 272.31-326q-15.16 8.08-23.73 19.77-8.58 11.69-8.58 25v25.85Zm240-289.24q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 369.24Z"/></svg>
                <h2 class="fw-light">{{ user.username }}</h2>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center card p-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M252.31-100q-29.92 0-51.12-21.19Q180-142.39 180-172.31v-375.38q0-29.92 21.19-51.12Q222.39-620 252.31-620H300v-80q0-74.92 52.54-127.46Q405.08-880 480-880q74.92 0 127.46 52.54Q660-774.92 660-700v80h47.69q29.92 0 51.12 21.19Q780-577.61 780-547.69v375.38q0 29.92-21.19 51.12Q737.61-100 707.69-100H252.31Zm0-60h455.38q5.39 0 8.85-3.46t3.46-8.85v-375.38q0-5.39-3.46-8.85t-8.85-3.46H252.31q-5.39 0-8.85 3.46t-3.46 8.85v375.38q0 5.39 3.46 8.85t8.85 3.46ZM480-290q29.15 0 49.58-20.42Q550-330.85 550-360t-20.42-49.58Q509.15-430 480-430t-49.58 20.42Q410-389.15 410-360t20.42 49.58Q450.85-290 480-290ZM360-620h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"/></svg>
                <h3 class="fw-light">{{ denied_message }}</h3>
            </div>
        {% else %}
            {% if is_owner %}
            <div class="d-flex justify-content-between">
                <a href="{% url 'user_edit' %}" class="d-flex gap-1 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#5f6368"><path d="M200-200h43.92l427.93-427.92-43.93-43.93L200-243.92V-200Zm-40 40v-100.77l527.23-527.77q6.15-5.48 13.57-8.47 7.43-2.99 15.49-2.99t15.62 2.54q7.55 2.54 13.94 9.15l42.69 42.93q6.61 6.38 9.04 14 2.42 7.63 2.42 15.25 0 8.13-2.74 15.56-2.74 7.42-8.72 13.57L260.77-160H160Zm600.77-556.31-44.46-44.46 44.46 44.46ZM649.5-649.5l-21.58-22.35 43.93 43.93-22.35-21.58Z"/></svg>
                    <span>Редактирай</span>
                </a>
                <div class="dropdown mx-2">
                    <div class="d-flex gap-1 align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="fs-5 text-bold d-flex align-items-end gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480.18-353.85q60.97 0 103.47-42.68t42.5-103.65q0-60.97-42.68-103.47t-103.65-42.5q-60.97 0-103.47 42.68t-42.5 103.65q0 60.97 42.68 103.47t103.65 42.5ZM480-392q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm.11 152q-129.96 0-236.88-70.73Q136.31-381.46 83.08-500q53.23-118.54 160.04-189.27T479.89-760q129.96 0 236.88 70.73Q823.69-618.54 876.92-500q-53.23 118.54-160.04 189.27T480.11-240ZM480-500Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
                            <strong>Видимост</strong>
                            <span>[[ visibilityName ]]</span>
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-371.69 267.69-584 296-612.31l184 184 184-184L692.31-584 480-371.69Z"/></svg>
                    </div>
                    <ul class="dropdown-menu">
                        {% for value, display in display_choices %}
                        <li :class="['dropdown-item', 'cursor-pointer', {'dropdown-active': visibility == '{{ value }}'}]" @click="changeVisibility(visibility, '{{ value }}')">{{ display }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="card p-4">
                <h1 class="fw-light">{{ user.username }}</h1>
                <small>Присъединен на {{ user.date_joined|date:"j F Y" }}</small>
                <hr>
                <p>{{ user.email }}</p>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <div class="d-flex gap-1">
                    {% if user.profile.facebook_url %}<a href="{{ user.profile.facebook_url }}">Facebook</a>{% endif %}
                    {% if user.profile.x_handle %}<a href="https://x.com/{{ user.profile.x_handle }}">X</a>{% endif %}
                    {% if user.profile.instagram_handle %}<a href="https://www.instagram.com/{{ user.profile.instagram_handle }}">Instagram</a>{% endif %}
                    {% if user.profile.tiktok_handle %}<a href="https://www.tiktok.com/@{{ user.profile.tiktok_handle }}">TikTok</a>{% endif %}
                </div>
                {% if not user.profile.bio == 'None' %}<p>{{ user.profile.bio|default_if_none:'' }}</p>{% endif %}
                <p>{{ user.profile.country|default_if_none:'' }}</p>
                <p>{{ user.profile.city|default_if_none:'' }}</p>
            </div>

            {# POSTS #}
            <div class="card p-4 mt-2" id="posts">
                <h1 class="fw-light">&middot; Публикации на {{ user.username }} ({{ posts.count }})</h1>
                {% for post in posts %}
                <div
                    {% if not post.visibility %}
                        class="card mb-1"
                    {% else %}
                        class="card mb-1 on-hover-border cursor-pointer"
                        onclick="window.location.href='{% url 'post_details' post.slug %}'"
                    {% endif %}
                >
                    <div id="post_{{ post.pk }}" class="card-body position-relative">
                        <h2 class="fw-light">{{ post.name }}</h2>
                        <small>{{ post.content|striptags|truncatechars:150 }}</small>
                        {% if post.space %}
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#0d6efd"><path d="M460-171.46v-297.08L200-619.08v283.23q0 6.16 3.08 11.54 3.07 5.39 9.23 9.23L460-171.46Zm40 0 247.69-143.62q6.16-3.84 9.23-9.23 3.08-5.38 3.08-11.54v-283.23L500-468.54v297.08Zm-52.31 38.92L192.31-279.69q-15.16-8.69-23.73-23.62-8.58-14.92-8.58-32.31v-288.76q0-17.39 8.58-32.31 8.57-14.93 23.73-23.62l255.38-147.15q15.16-8.69 32.31-8.69 17.15 0 32.31 8.69l255.38 147.15q15.16 8.69 23.73 23.62 8.58 14.92 8.58 32.31v288.76q0 17.39-8.58 32.31-8.57 14.93-23.73 23.62L512.31-132.54q-15.16 8.69-32.31 8.69-17.15 0-32.31-8.69ZM628.46-589 737-651.46 492.31-793.08q-6.16-3.84-12.31-3.84t-12.31 3.84l-95.69 55L628.46-589ZM480-502.92l108-62.7-257-148.53-108 62.69 257 148.54Z"/></svg>
                            <a href="{% url 'space_details' post.space.slug %}">{{ post.space.name }}</a>
                        </div>
                        {% endif %}
                        {% if not post.visibility %}
                            <div class="input-group mt-2">
                                <input type="text" class="form-control" value="{{ request.get_host }}{% url 'post_details' post.slug %}?token={{ post.token }}" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text cursor-pointer btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" id="basic-addon2">Копирай</button>
                                </div>
                            </div>
                        {% endif %}
                        <button class="btn btn-sm btn-danger position-absolute" style="top: 10px; right: 10px;" @click="deletePost({{ post.pk }})">Изтрий</button>
                    </div>
                </div>
                {% endfor %}

                <h3 id="saved_posts" class="fw-light mb-1">Запазени ({{ saved_posts.count }})</h3>
                {% for saved_post in saved_posts %}
                <div
                    {% if not saved_post.post.visibility %}
                        class="card mb-1"
                    {% else %}
                        class="card mb-1 on-hover-border cursor-pointer"
                        onclick="window.location.href='{% url 'post_details' saved_post.post.slug %}'"
                    {% endif %}
                >
                    <div id="post_{{ saved_post.post.pk }}" class="card-body position-relative">
                        <h2 class="fw-light">{{ saved_post.post.name }}</h2>
                        <small>{{ saved_post.post.content|striptags|truncatechars:150 }}</small>
                        {% if saved_post.post.space %}
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#0d6efd">
                                <path d="M460-171.46v-297.08L200-619.08v283.23q0 6.16 3.08 11.54 3.07 5.39 9.23 9.23L460-171.46Zm40 0 247.69-143.62q6.16-3.84 9.23-9.23 3.08-5.38 3.08-11.54v-283.23L500-468.54v297.08Zm-52.31 38.92L192.31-279.69q-15.16-8.69-23.73-23.62-8.58-14.92-8.58-32.31v-288.76q0-17.39 8.58-32.31 8.57-14.93 23.73-23.62l255.38-147.15q15.16-8.69 32.31-8.69 17.15 0 32.31 8.69l255.38 147.15q15.16 8.69 23.73 23.62 8.58 14.92 8.58 32.31v288.76q0 17.39-8.58 32.31-8.57 14.93-23.73 23.62L512.31-132.54q-15.16 8.69-32.31 8.69-17.15 0-32.31-8.69ZM628.46-589 737-651.46 492.31-793.08q-6.16-3.84-12.31-3.84t-12.31 3.84l-95.69 55L628.46-589ZM480-502.92l108-62.7-257-148.53-108 62.69 257 148.54Z"/>
                            </svg>
                            <a href="{% url 'space_details' saved_post.post.space.slug %}">{{ saved_post.post.space.name }}</a>
                        </div>
                        {% endif %}
                        {% if not saved_post.post.visibility %}
                            <div class="input-group mt-2">
                                <input type="text" class="form-control" value="{{ request.get_host }}{% url 'post_details' saved_post.post.slug %}?token={{ saved_post.post.token }}" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text cursor-pointer btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" id="basic-addon2">Копирай</button>
                                </div>
                            </div>
                        {% endif %}
                        <button class="btn btn-sm btn-danger position-absolute" style="top: 10px; right: 10px;" @click="deletePost({{ saved_post.post.pk }})">Изтрий</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            {# COMMENTS #}
            <div class="card p-4 mt-2" id="comments">
                <h1 class="fw-light">&middot; Коментари на {{ user.username }} ({{ comments.count }})</h1>
                {% for comment in comments %}
                <div
                    class="card mb-1 on-hover-border cursor-pointer"
                    onclick="window.location.href='{% url 'post_details' comment.post.slug %}?comment_link={{ comment.pk }}'"
                >
                    <div class="card-body">
                        <h3 class="fw-light">{{ comment.content }}</h3>
                        <p>Коментирано в <a href="{% url 'post_details' comment.post.slug %}">{{ comment.post.name }}</a></p>
                    </div>
                </div>
                {% endfor %}

                <h3 id="replies" class="fw-light mb-1">Отговори на {{ user.username }} ({{ replies.count }})</h3>
                {% for reply in replies %}
                <div
                    class="card mb-1 on-hover-border cursor-pointer"
                    onclick="window.location.href='{% url 'post_details' reply.post.slug %}?comment_link={{ reply.pk }}'"
                >
                    <div class="card-body">
                        <h3 class="fw-light">{{ reply.content }}</h3>
                        <p>Отговорено в <a href="{% url 'post_details' reply.post.slug %}">{{ reply.post.name }}</a></p>
                    </div>
                </div>
                {% endfor %}

                <h3 id="liked_comments" class="fw-light mb-1">Харесани ({{ liked_comments.count }})</h3>
                {% for comment_like in liked_comments %}
                <div
                    class="card mb-1 on-hover-border cursor-pointer"
                    onclick="window.location.href='{% url 'post_details' comment_like.comment.post.slug %}?comment_link={{ comment_like.comment.pk }}'"
                >
                    <div class="card-body">
                        <h3 class="fw-light">{{ comment_like.comment.content }}</h3>
                        <p>Коментар от <a href="{% url 'post_details' comment_like.comment.post.slug %}">{{ comment_like.comment.post.name }}</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>

            {# SPACES #}
            <div class="card p-4 mt-2" id="spaces">
                <h1 class="fw-light">&middot; Теми на {{ user.username }} ({{ spaces.count }})</h1>
                {% for space in spaces %}
                <div
                    class="card mb-1 on-hover-border cursor-pointer"
                    onclick="window.location.href='{% url 'space_details' space.slug %}'"
                >
                    <div class="card-body position-relative">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000"><path d="M460-171.46v-297.08L200-619.08v283.23q0 6.16 3.08 11.54 3.07 5.39 9.23 9.23L460-171.46Zm40 0 247.69-143.62q6.16-3.84 9.23-9.23 3.08-5.38 3.08-11.54v-283.23L500-468.54v297.08Zm-52.31 38.92L192.31-279.69q-15.16-8.69-23.73-23.62-8.58-14.92-8.58-32.31v-288.76q0-17.39 8.58-32.31 8.57-14.93 23.73-23.62l255.38-147.15q15.16-8.69 32.31-8.69 17.15 0 32.31 8.69l255.38 147.15q15.16 8.69 23.73 23.62 8.58 14.92 8.58 32.31v288.76q0 17.39-8.58 32.31-8.57 14.93-23.73 23.62L512.31-132.54q-15.16 8.69-32.31 8.69-17.15 0-32.31-8.69ZM628.46-589 737-651.46 492.31-793.08q-6.16-3.84-12.31-3.84t-12.31 3.84l-95.69 55L628.46-589ZM480-502.92l108-62.7-257-148.53-108 62.69 257 148.54Z"/></svg>
                            <h3 class="fw-light">{{ space.name }}</h3>
                        </div>
                        <p>{{ space.description|striptags|truncatechars:150 }}</p>
                        <button class="btn btn-sm btn-danger position-absolute" style="top: 10px; right: 10px; z-index: 100;" @click="deleteSpace({{ space.pk }})">Изтрий</button>
                    </div>
                </div>
                {% endfor %}

                <h3 id="followed_spaces" class="fw-light mb-1">Последвани ({{ followed_spaces.count }})</h3>
                {% for followed_space in followed_spaces %}
                <div
                    class="card mb-1 on-hover-border cursor-pointer"
                    onclick="window.location.href='{% url 'space_details' followed_space.space.slug %}'"
                >
                    <div class="card-body position-relative">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000"><path d="M460-171.46v-297.08L200-619.08v283.23q0 6.16 3.08 11.54 3.07 5.39 9.23 9.23L460-171.46Zm40 0 247.69-143.62q6.16-3.84 9.23-9.23 3.08-5.38 3.08-11.54v-283.23L500-468.54v297.08Zm-52.31 38.92L192.31-279.69q-15.16-8.69-23.73-23.62-8.58-14.92-8.58-32.31v-288.76q0-17.39 8.58-32.31 8.57-14.93 23.73-23.62l255.38-147.15q15.16-8.69 32.31-8.69 17.15 0 32.31 8.69l255.38 147.15q15.16 8.69 23.73 23.62 8.58 14.92 8.58 32.31v288.76q0 17.39-8.58 32.31-8.57 14.93-23.73 23.62L512.31-132.54q-15.16 8.69-32.31 8.69-17.15 0-32.31-8.69ZM628.46-589 737-651.46 492.31-793.08q-6.16-3.84-12.31-3.84t-12.31 3.84l-95.69 55L628.46-589ZM480-502.92l108-62.7-257-148.53-108 62.69 257 148.54Z"/></svg>
                            <h3 class="fw-light">{{ followed_space.space.name }}</h3>
                        </div>
                        <p>{{ followed_space.space.description|striptags|truncatechars:150 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include 'includes/message.html' %}
{% endblock %}
{% block rest %}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    {% include 'includes/js/vue-app-message.js' %}

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            visibility: '{{ user.profile.visibility }}',
            visibilityName: '{{ user.profile.get_visibility_display }}',
            followers: {{ followers_count }},
            following: {{ following_count }},
            followed: {% if followed %}true{% else %}false{% endif %},
        },
        methods: {
            changeVisibilityName(newVisibility) {
                const valueDisplay = {
                    {% for value, display in display_choices %}
                    {{ value }}: "{{ display }}",
                    {% endfor %}
                };

                this.visibilityName = valueDisplay[`${newVisibility}`]
            },
            changeVisibility(oldVisibility, newVisibility) {
                if (oldVisibility === newVisibility) {
                    return;
                }

                axios
                .put("{% url 'update_profile_visibility' user.profile.pk %}", {
                    visibility: newVisibility
                })
                .then(response => {
                    this.visibility = newVisibility;
                    this.changeVisibilityName(newVisibility);
                    messageApp.triggerNotification('Видимостта сменена успешно');
                })
                .catch(error => {
                    console.error(error);
                });
            },
            followUnfollowUser() {
                if (this.followed) {
                    axios
                    .delete("{% url 'unfollow_user' %}", {
                        data: {
                            following: {{ user.pk }}
                        }
                    })
                    .then(() => {
                        this.followed = false;
                        this.followers -= 1;
                        messageApp.triggerNotification('Отследва {{ user.username }}');
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else {
                    axios
                    .post("{% url 'follow_user' %}", {
                        follower: {{ request.user.pk }},
                        following: {{ user.pk }}
                    })
                    .then(response => {
                        this.followed = true;
                        this.followers += 1;
                        messageApp.triggerNotification('Последва {{ user.username }}');
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }

                if ('{{ user.profile.visibility }}' === 'F') {
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                }
            },
            deletePost(postId) {
                axios
                .delete(`/api/post/${postId}/delete/`)
                .then(() => {
                    messageApp.triggerNotification('Изтри публикацията усшешно.');
                })
                .catch(error => {
                    console.error(error)
                })
            },
            deleteSpace(spaceId) {
                axios
                .delete(`/api/space/${spaceId}/delete/`)
                .then(() => {
                    messageApp.triggerNotification('Изтри темата усшешно.');
                })
                .catch(error => {
                    console.error(error)
                })
            }
        }
    });
</script>
<style>
    {% include 'includes/css/message.css' %}
    {% include 'includes/css/dropdown-active.css' %}
</style>
{% endblock %}